:root{
    --tag-selector-base-size: 30vw;
    --f-size:calc( var(--tag-selector-base-size ) / 15);
}

.tag-comp-window{
    position: absolute;
    width: var(--tag-selector-base-size);
    height: calc( 1.2 * var(--tag-selector-base-size));
    top:calc((100vh - 1.2 * var(--tag-selector-base-size)) / 2);
    left:calc((100vw - var(--tag-selector-base-size)) / 2);
    overflow: hidden;
    background-color: rgb(20,20,20);
    border-radius: calc( var(--tag-selector-base-size) / 20);
    box-shadow: 5px 5px 20px black;
    font-size:var(--f-size);
}

.input-search-word{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: var(--f-size);
    margin-bottom: 7%;
}

.win-inner{
    width: 80%;

    margin: 10%;
}

.item{
    padding-left: 3%;
    border-radius: calc( var(--tag-selector-base-size) / 50 );   
    color: white;
}

.focused-item{
    background-color: rgb(170,200,220);
}
